<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace = "nyamnyam.mapper.MainMapper">
<select id = "selectAutoNum" resultType = "string">
select concat(#{sep}, nvl(substr(max(${columnName}), length(#{sep}) + 1), 100000) + 1) from ${tableName}
</select>
<select id = "selectUserInfo" parameterType = "string" resultType = "login">

select member_num as userNum, member_pw as userPw, 'member' as grade from member where member_id = #{userId}
 union select employee_num, employee_pw, 'employee' from employees where employee_id = #{userId}
 union select orner_num, orner_pw, 'orner' from orners where orner_id = #{userId}
 union select deliveryman_num, deliveryman_pw, 'deliveryman' from deliverymans where deliveryman_id = #{userId}

</select>
</mapper>