<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace = "nyamnyam.mapper.MenuMapper">
<insert id = "menuInsert" parameterType = "nyamnyam.domain.MenuDTO">
insert into menus (menu_num, menu_name, menu_price, menu_content, menu_origin)	
values (#{menuNum}, #{menuName}, #{menuPrice}, #{menuContent}, #{menuOrigin})
</insert>
</mapper>