<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace = "nyamnyam.mapper.OrderMapper">

<resultMap type="cartList" id="cartListResultMap">
		<association property="cartDTO" javaType = "cart">
			<id column="menu_num" jdbcType="VARCHAR" property="menuNum"></id>
			<result column="member_num" jdbcType="VARCHAR" property="memberNum"></result>
			<result column="cart_qty" jdbcType="BIGINT" property="cartQty"></result>
		</association>
		<association property="menuDTO" javaType = "menu">
			<id column="menu_num" jdbcType="VARCHAR" property="menuNum"/>
			<result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
			<result column="menu_price" jdbcType="BIGINT" property="menuPrice"/>
			<result column="menu_store_image" jdbcType="VARCHAR" property="menuStoreImage"/>
		</association>
</resultMap>

<!-- cart 관련 -->
<insert id="cartInsert" parameterType="cart">
insert into cart (menu_num, member_num, cart_qty) values (#{menuNum}, #{memberNum}, #{cartQty})
</insert>

<select id="cartSelectAll" parameterType="string" resultMap="cartListResultMap">
select c.menu_num, menu_name, menu_price, menu_store_image
	 , member_num, cart_qty
 from menu m right outer join cart c on m.menu_num = c.menu_num
 where member_num = #{memberNum}
</select>

<delete id="cartDelete" parameterType="string">
delete from cart where member_num = #{memberNum}
<if test="menuNum != null">
	and menu_num = #{menuNum}
</if>
</delete>


<!-- 결제 관련 -->
<insert id="orderInfoInsert" parameterType="orderInfo">
insert into order_info (order_num, delivery_addr, delivery_addr_detail, delivery_phone, delivery_message, order_message, order_status, order_date, order_price, member_num) 
 values (#{orderNum}, #{deliveryAddr}, #{deliveryAddrDetail}, #{deliveryPhone}, #{deliveryMessage}, #{orderMessage}, '주문대기', sysdate, #{orderPrice}, #{memberNum})
</insert>

<insert id="paymentInsert" parameterType="payment">
insert into payment(order_num,confirm_num,card_num,tid,total_price,result_message,pay_method,appl_date,appl_time)
values(#{orderNum},#{confirmNum},#{cardNum},#{tid},#{totalPrice},#{resultMessage},#{payMethod},#{applDate},#{applTime})
</insert>

<!-- 주문 정보 관련 -->
<insert id="orderListInsert" parameterType="string">
insert into order_list (order_num, menu_num, menu_option)
 values ((),(),())
 select max(substr(order_num, 7)), menu_num, menu_option
 from cart c join order_info oi on c.member_num = oi.member_num
 where c.member_num = #{memberNum}
</insert>

<insert id="purchaseListInsert" parameterType="hashmap">
insert into purchase_list(GOODS_NUM, PURCHASE_NUM, PURCHASE_QTY, GOODS_UNIT_PRICE)

select c.GOODS_NUM, #{purchaseNum}, CART_QTY , CART_QTY * goods_price
from cart c join goods g
on c.goods_num = g.goods_num 
where member_num = #{memberNum}  
and c.goods_num in 
<foreach collection="goodsNums" item="goodsNum" close=")" open="("
		index="index" separator=",">
	#{goodsNum}
</foreach>
</insert>

<select id="orderSelectOne" parameterType="string">
select order_num, delivery_addr, delivery_addr_detail, delivery_phone, delivery_message, order_message, order_status, order_date, order_price, member_num
 from order_info where order_num = #{orderNum}
</select>

<select id="orderHistorySelectAll" parameterType="string">
select order_num from order_info
</select>


</mapper>