<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace = "nyamnyam.mapper.OrderMapper">

<resultMap type="cartList" id="cartListResultMap">
		<association property="cartDTO" javaType = "cart">
			<id column="menu_num" jdbcType="VARCHAR" property="menuNum"></id>
			<result column="member_num" jdbcType="VARCHAR" property="memberNum"></result>
			<result column="cart_qty" jdbcType="BIGINT" property="cartQty"></result>
		</association>
		<association property="menuDTO" javaType = "menu">
			<id column="menu_num" jdbcType="VARCHAR" property="menuNum"/>
			<result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
			<result column="menu_price" jdbcType="BIGINT" property="menuPrice"/>
			<result column="menu_store_image" jdbcType="VARCHAR" property="menuStoreImage"/>
			<result column="store_num" jdbcType="VARCHAR" property="storeNum"/>
		</association>
</resultMap>

<!-- cart 관련 -->
<insert id="cartInsert" parameterType="cart">
insert into cart (menu_num, member_num, cart_qty) values (#{menuNum}, #{memberNum}, #{cartQty})
</insert>

<select id="cartSelectAll" parameterType="string" resultMap="cartListResultMap">
select c.menu_num, menu_name, menu_price, menu_store_image, store_num
	 , member_num, cart_qty
 from menu m right outer join cart c on m.menu_num = c.menu_num
 where member_num = #{memberNum}
</select>

<delete id="cartDelete" parameterType="string">
delete from cart where member_num = #{memberNum}
<if test="menuNum != null">
	and menu_num = #{menuNum}
</if>
</delete>


<!-- 결제 관련 -->
<insert id="orderInfoInsert" parameterType="orderInfo">
insert into order_info (order_num, delivery_addr, delivery_addr_detail, delivery_phone, delivery_message, order_message, order_status, order_date, order_price, member_num, store_num) 
 values (#{orderNum}, #{deliveryAddr}, #{deliveryAddrDetail}, #{deliveryPhone}, #{deliveryMessage}, #{orderMessage}, '주문대기', sysdate, #{orderPrice}, #{memberNum}, #{storeNum})
</insert>

<insert id="paymentInsert" parameterType="payment">
insert into payment(order_num,confirm_num,card_num,tid,total_price,result_message,pay_method,appl_date,appl_time)
values(#{orderNum},#{confirmNum},#{cardNum},#{tid},#{totalPrice},#{resultMessage},#{payMethod},#{applDate},#{applTime})
</insert>

<!-- 주문 정보 관련 -->
<resultMap id="orderInfoResultMap" type="orderInfo">
	<!-- result column="store_name" jdbcType="VARCHAR" javaType="string" property="storeName"/-->
	<!-- collection property="menuName" ofType="string">
		<result column="menu_name" jdbcType="VARCHAR" javaType="string" property="menuName"/>
	</collection-->
			<id column="order_num" jdbcType="VARCHAR" property="orderNum"/>
			<result column="delivery_addr" jdbcType="VARCHAR" property="deliveryAddr"/>
			<result column="delivery_addr_detail" jdbcType="VARCHAR" property="deliveryAddrDetail"/>
			<result column="delivery_phone" jdbcType="VARCHAR" property="deliveryPhone"/>
			<result column="delivery_message" jdbcType="VARCHAR" property="deliveryMessage"/>
			<result column="order_message" jdbcType="VARCHAR" property="orderMessage"/>
			<result column="order_status" jdbcType="VARCHAR" property="orderStatus"/>
			<result column="order_date" jdbcType="DATE" property="orderMessage"/>
			<result column="order_price" jdbcType="BIGINT" property="orderPrice"/>
			<result column="member_num" jdbcType="VARCHAR" property="memberNum"/>
			<result column="store_num" jdbcType="VARCHAR" property="storeNum"/>	
</resultMap>

<insert id="orderListInsert" parameterType="cartList">
insert into order_list (order_num, menu_num, menu_option)
 values (#{orderNum}, #{menuNum}, null)
</insert>

<select id="orderSelectOne" parameterType="string">
select order_num, delivery_addr, delivery_addr_detail, delivery_phone, delivery_message, order_message, order_status, order_date, order_price, member_num
 from order_info where order_num = #{orderNum} 
</select>

<select id="orderInfoSelectOne" parameterType="string" resultMap="orderInfoResultMap">
select order_num, delivery_addr, delivery_addr_detail, delivery_phone, delivery_message, order_message, order_status, order_date
	 , order_price, member_num, store_num
 from order_info 
 where member_num = #{memberNum}
</select>

<!-- select id="orderHistorySelectAll" parameterType="string" resultMap="orderHistoryResultMap">
select oi.order_num, ol.menu_num, menu_option
	 , delivery_addr, delivery_addr_detail, delivery_phone, delivery_message, order_message, order_status, order_date, order_price, member_num, oi.store_num
	 <  , s.store_name
	 , menu_name >
 from order_list ol join order_info oi on ol.order_num = oi.order_num
 					< join store s on oi.store_num = s.store_num
 					join menu m on ol.menu_num = m.menu_num>
 where oi.member_num = #{memberNum}
</select -->

</mapper>