<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace = "nyamnyam.mapper.StoreMapper">
<resultMap type = "storeInfo" id = "storeInfoResultMap">
	<association property= "storeDTO" javaType = "nyamnyam.domain.StoreDTO">
		<id column = "store_num" jdbcType = "VARCHAR" property = "storeNum"></id>
		<result column = "store_name" jdbcType = "VARCHAR" property = "storeName"></result>
		<result column = "store_type" jdbcType = "VARCHAR" property = "storeType"></result>
		<result column = "store_addr" jdbcType = "VARCHAR" property = "storeAddr"></result>
		<result column = "store_addr_detail" jdbcType = "VARCHAR" property = "storeAddrDetail"></result>
		<result column = "store_phone" jdbcType = "VARCHAR" property = "storePhone"></result>
		<result column = "store_open_time" jdbcType = "VARCHAR" property = "storeOpenTime"></result>
		<result column = "store_introduction" jdbcType = "VARCHAR" property = "storeIntroduction"></result>
		<result column = "store_banner_image" jdbcType = "VARCHAR" property = "storeBannerImage"></result>
		<result column = "store_banner_store_image" jdbcType = "VARCHAR" property = "storeBannerStoreImage"></result>
		<result column = "store_profile_image" jdbcType = "VARCHAR" property = "storeProfileImage"></result>
		<result column = "store_profile_store_image" jdbcType = "VARCHAR" property = "storeProfileStoreImage"></result>
	</association>
	<association property = "ornerDTO" javaType = "orner">
		<id column = "orner_num" jdbcType = "VARCHAR" property = "ornerNum" />
		<result column = "orner_id" jdbcType = "VARCHAR" property = "ornerId" />
		<result column = "orner_pw" jdbcType = "VARCHAR" property = "ornerPw" />
		<result column = "orner_name" jdbcType = "VARCHAR" property = "ornerName" />
		<result column = "orner_email" jdbcType = "VARCHAR" property = "ornerEmail" />
		<result column = "orner_phone" jdbcType = "VARCHAR" property = "ornerPhone" />
	</association>
</resultMap>
<sql id = "storeBaseColumn">
store_num, store_name, orner_num, store_type, store_addr, store_addr_detail, store_phone, store_open_time, store_introduction,
store_banner_image, store_banner_store_image, store_profile_image, store_profile_store_image
</sql>



<insert id = "storeInsert" parameterType = "store">
insert into stores (store_num, store_name, orner_num, store_type, store_addr, store_addr_detail, store_phone, store_open_time, store_introduction)
 values (#{storeNum}, #{storeName}, #{ornerNum}, #{storeType}, #{storeAddr}, #{storeAddrDetail}, null, null, null)
</insert>

<select id = "selectStoreNum" parameterType = "string" resultType = "string">
select store_num from stores where orner_num = #{ornerNum}
</select>

<select id = "storeSelectAll" resultType = "store">
select store_num as storeNum, store_name as storeName from stores
</select>

<select id = "selectStoreInfoList" parameterType = "string" resultMap = "storeInfoResultMap">
select store_num, store_name, store_introduction
	 , o.orner_num, orner_name
 from stores s join orners o 
 on s.orner_num = o.orner_num 
 where s.store_num = #{storeNum}
</select>
</mapper>






















