<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>메뉴 추가</title>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type = "text/javascript">
	
</script>
</head>
<body>
메뉴 추가 페이지입니다.<br/>
<form action = "menuRegist" method = "post" enctype="multipart/form-data"> 
메뉴명 : <input type =  "text" name = "menuName" /><br/>
분류 : <input type = "text" name = "menuKinde" /><br/>
가격 : <input type =  "number" name = "menuPrice" /><br/>
설명 : <input type =  "text" name = "menuContent" /><br/>
원산지 : <input type =  "text" name = "menuOrigin" /><br/>
메뉴 이미지 : <input type = "file" name = "menuImage" /><br/>
<input type = "submit" value = "등록"/>
</form>
</body>
</html>