<!DOCTYPE html>
<html lang="en">
<head>
<title>사장님 페이지</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"-->
<link rel="stylesheet" href="../static/css/storeManagePage.css">
</head>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type = "text/javascript">
$(function(){
	menuManage();
	
	$("#store").click(function(){
		menuManage();
	});
	$("#order").click(function(){
		orderManage();
	});
	$("#review").click(function(){
		reviewManage();
	});
	$("#inquire").click(function(){
		inquireManage();
	});	
	
	/*$(".profile").click(function(){
		window.open("/store/changeProfileImage", "프로필 이미지 변경", "width=600, height=600, left=200, top=200");
	})*/
})
function menuManage(){
	$.ajax({
		type : "post",
		url : "/store/storeManage",
		dataType : "html",
		data : {"ornerNum" : "[[${storeInfoDTO.ornerDTO.ornerNum}]]"},
		success : function(item){
			 $("#content").html(item);
		},
		error : function(){
			alert("오류 발생");
		}
	});
}

function orderManage(){
	$.ajax({
		type : "post",
		url : "/orner/orderManage",
		dataType : "html",
		data : {"ornerNum" : "[[${storeInfoDTO.ornerDTO.ornerNum}]]"},
		success : function(item){
			 $("#content").html(item);
		},
		error : function(){
			alert("오류 발생");
		}
	});
}
function reviewManage(){
}
function inquireManage(){
}
</script>
<style>
.profile{
	/*left: -650px;
	top: 55px;*/
	position:relative;
	bottom:-57px;
	left:-650px;
}
.div{
	position:absolute;
}
</style>
<body>	

<!-- Header -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px;background-image: url('../static/image/회백색 배경.jpg');">
  <div class="profile" style="max-width:1500px"><!--  style="max-width:1500px" -->
  	<img th:src = "|../static/upload/${storeInfoDTO.storeDTO.storeProfileStoreImage}|" width = "200" height = "200" id = "profileImage"/>
  </div>
  <h2 style="position:relative;left:250px;top:-120px;text-align:left">[[${storeInfoDTO.storeDTO.storeName}]]</h2>
  <h3 style="position:relative;left:250px;top: -80px;text-align:left">[[${storeInfoDTO.storeDTO.storeIntroduction}]]</h3>
  
  
  <!-- Navbar (placed at the bottom of the header image) -->
  <div class="w3-bar w3-light-grey w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-35px;">
    <a id="store" class="w3-bar-item w3-button">가게관리</a>
    <a id="order" class="w3-bar-item w3-button">주문관리</a>
    <a id="review" class="w3-bar-item w3-button">리뷰관리</a>
    <a id="inquire" class="w3-bar-item w3-button">문의관리</a>
  </div>
</header>
<br/>
<a href = "/login/logout">로그아웃</a>
<div id = "content">
</div>
</body>
</html>
