<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type = "text/javascript">
$(function(){
	$("#menuManage").click(function(){
		menuManage();
	})
});

function menuManage(){
	$.ajax({
		type : "post",
		url : "/store/storeManage",
		dataType : "html",
		data : {"ornerNum" : "[[${storeInfoDTO.ornerDTO.ornerNum}]]"},
		success : function(item){
			 $("#content").html(item);
		},
		error : function(){
			alert("오류 발생");
		}
	});
}
</script>
</head>
<body>
<div align = "left" style = "float:left">
	<ul>
		<li><span id = "menuManage">메뉴 정보 수정</span></li>
		<li><span id = "storeInformationManage">가게 정보 수정</span></li>
	</ul>
</div>
<div align = "center">
가게 정보 수정 페이지입니다.

<form action="/store/storeModify" method="post"  enctype="multipart/form-data">
<input type="hidden" name="storeNum" th:value="${storeInfoDTO.storeDTO.storeNum}"/>
<table border="1" width="600">
<tr><td>가게명</td><td><input type="text" name="storeName" th:value="${storeInfoDTO.storeDTO.storeName}"/></td></tr>
<tr><td>가게 분류</td><td><input type="radio" name="storeType" value="한식" th:checked="${storeInfoDTO.storeDTO.storeType=='한식'}"/> 한식
						<input type="radio" name="storeType" value="중식"  th:checked="${storeInfoDTO.storeDTO.storeType=='중식'}"/> 중식
						<input type="radio" name="storeType" value="일식"  th:checked="${storeInfoDTO.storeDTO.storeType=='일식'}"/> 일식
						<input type="radio" name="storeType" value="양식"  th:checked="${storeInfoDTO.storeDTO.storeType=='양식'}"/> 양식
			   		</td></tr>
<tr><td>가게 주소</td><td><input type="text" name="storeAddr" th:value="${storeInfoDTO.storeDTO.storeAddr}"/></td></tr>
<tr><td>가게 상세 주소</td><td><input type="text" name="storeAddrDetail" th:value="${storeInfoDTO.storeDTO.storeAddrDetail}"/></td></tr>
<tr><td>가게 전화번호</td><td><input type="text" name="storePhone" th:value="${storeInfoDTO.storeDTO.storePhone}"/></td></tr>
<tr><td>가게 오픈 시간</td><td><textarea rows="5" cols="20" name="storeOpenTime">[[${storeInfoDTO.storeDTO.storeOpenTime}]]</textarea></td></tr>
<tr><td>가게 소개</td><td><textarea rows="5" cols="20" name = "storeIntroduction" >[[${storeInfoDTO.storeDTO.storeIntroduction}]]</textarea></td></tr>
<tr><td>가게 프로필 사진</td><td>
						<span>[[${storeInfoDTO.storeDTO.storeProfileImage}]]</span>
					</td></tr>
<tr><td>가게 배너 사진</td><td><input type="file" name="storeBannerImage" /></td></tr>
<tr><td colspan="2"><input type="submit" value="수정"/></td></tr>






</table>
</form>
</div>
</body>
</html>