<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>가게 관리 페이지</title>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type = "text/javascript">
$(function(){
	$("#menuRegist").click(function(){
		popupWindow = window.open("/menu/menuRegist", "메뉴 추가", "width=600, height=800, left=500, top=100");
		popupWindow.onbeforeunload = function(){
			window.location.reload();
			menuManage();
		}
		let popupCheckInterval = setInterval(function(){
			if(popupWindow.closed){
				clearInterval(popupCheckInterval);
				menuManage();
			}
		});
	})
	
	$("#storeInformationManage").click(function(){
		storeInformationManage();
	})
})

function menuDelete(menuNum){
	// 팝업으로 삭제 여부 물어보기
	const result = confirm('메뉴를 삭제하시겠습니까?');
	
	if(result){
		$.ajax({
			type : "post",
			url : "/menu/menuDelete",
			data : {"menuNum" : menuNum},
			success : function(){
				alert("삭제 성공");
				menuManage();
			},
			error : function(){
				menuManage();
			}
		});
	}
}

function storeInformationManage(){
	$.ajax({
		type : "post",
		url : "/store/storeInformationManage",
		dataType : "html",
		data : {"ornerNum" : "[[${storeInfoDTO.ornerDTO.ornerNum}]]"},
		success : function(item){
			 $("#content").html(item);
		},
		error : function(){
			alert("오류 발생");
		}
	});
}
</script>
</head>
<body>
<div align = "left" style = "float:left">
	<ul>
		<li><span id = "menuManage">메뉴 정보 수정</span></li>
		<li><span id = "storeInformationManage">가게 정보 수정</span></li>
	</ul>
</div>
<div align = "center">
가게 정보 수정 페이지<br/><br/>
<span id = "menuRegist">메뉴 추가</span><br/>
</div>
<table border = "1" align = "center">
	<tr th:each = "dto, idx:${menuList}" height = "200"><td width = "200">
		<img th:src = "|../static/upload/${dto.menuStoreImage}|" width = "200" height = "200"/>
	</td>
	<td width = "600">
		메뉴명 : [[${dto.menuName}]]<br/>
		가격 : [[${dto.menuPrice}]]<br/>
		설명 : [[${dto.menuIntroduction}]]<br/>
		<div align = "right">메뉴 수정 | <button type = "button" th:attr="onclick=|menuDelete('${dto.menuNum}');|"  class = "menuDeleteBtn">메뉴 삭제</button></div>
	</td></tr>
</table>


</body>
</html>